/* ########## GLOBAL ########## */

html{
    /* background image centered and autoscale to window */
    background: url(../img/concrete.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    padding: 0;
    background-color: #ffffff;
    color: #e0e0e0;
}

a{
    color: #e0e0e0;
    text-decoration: none;
}

a:hover{
    color: red;
}


/* ########## MAIN ########## */

.centered-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 640px;
    height: 470px;
    transform: translate(-50%, -50%);
    /*border: white 1px solid;*/
}

#logo img{
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

section#contacts{
    display: block;
    margin-top: 50px;
    margin-left: 345px;
    width: 260px;
    /*border: red 1px solid;*/
}

#contacts p{
    padding: 0;
    margin: 0;
}


/* ########## FOOTER ########## */
footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin: auto;
    text-align: center;
    font-size: 11px;
    color: #ffffff;
}


@media(max-width: 768px){
    section#contacts{
        margin-left: auto;
        margin-right: auto;
    }
}
